@import './variables.scss';

html {
	height: 100%;


	body {

		height: 100%;
		animation: background-pan 10s linear infinite;
		background: linear-gradient(to right, $g1, $g2, $g3, $g2, $g1);
		min-height: 100vh;
		background-size: 200%;
		position: absolute;
		width: 100vw;
		overflow-x: hidden;
		overflow-y: auto;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-weight: 300;
		margin: 0;

		p, ul, li {
			font-size: 12pt;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			font-weight: 300;
			font-style: normal;
			color: #000
		}

		h1 {
			font-size: 24pt;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			font-style: normal;
			font-weight: 400;
			color: #000
		}

		h2 {
			font-size: 20pt;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			font-style: normal;
			font-weight: 300;
			color: #000
		}

		h3 {
			font-size: 18pt;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			font-style: italic;
			font-weight: 200;
			color: #000
		}

		h4 {
			font-size: 12pt;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			font-weight: bold;
			font-style: normal;
			color: #000
		}

		a {
			color: inherit;
			text-decoration: none;
			@include text-effect-simple();
		}

		* {
			@media screen and (prefers-color-scheme: dark) {
				color: white;
			}
		}

		p, ul, li, h1, h2, h3, h4 {
			@media screen and (prefers-color-scheme: dark) {
				color: white;
			}
		}

		.grid-item {
			min-width: 100%;
			min-height: 100%;
			cursor: pointer;
			position: relative;
			z-index: 1;
			background-color: #fff;

			&:hover {
				opacity: 0.8;
			}

			@media screen and (prefers-color-scheme: dark) {
				background-color: #000;
			}
		}
	}
}
