.resume-layout {
	min-height: 100vh;
  width: 100vw;
  background-color: transparent;
  z-index: 3;
  position: relative;
  pointer-events: none;
}

.header-container {
	height: 8rem;
  width: 100%;
  background-color: white;
	opacity: 0.9;
  z-index: 3;
  position: sticky;
	top: 0px;
  pointer-events: none;
	border: 1px solid #000;
	height: 8rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: row;
	float: right;
}

.main-container {
	height: calc(100% - 8rem);
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  z-index: 2;
  position: relative;
  pointer-events: none;
}

.main-area {
	height: 100%;
  display: flex;
	width: calc( 80% - 8rem );
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: visible;
	padding-left: 6rem;
  padding-right: 2rem;
  padding-top: 4rem;
  padding-bottom: 6rem;
}

@media (prefers-color-scheme: dark) {
	.header-container {
		border: 1px solid #fff;
	}
}

@media (max-width: 768px) {
	.main-area {
		width: 100%;
		padding: 2rem;
	}
}

@media (max-width: 480px) {
	.main-area {
		padding: 1rem;
	}
}
